html, body{
  height: 100%;
}
body{
  position: relative;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.main-container{
  position: relative;
  min-height: 100%;
  margin: 0 auto;
}
.header{
  max-width: 1200px;
  margin: 0 auto;
}
.header p{
  font-size: 20px;
}
.header .blockquote{
  font-size: 1rem;
  color: rgb(90, 90, 90);
  max-width: 800px;
  margin: 0 auto;
}
.navbar{
  font-size: 1rem;
}
.navbar img{
  width: 50%;
}
nav ul li{
  list-style: none;
  text-indent: 0;
  display: inline-block;
  margin-right: 1rem;
}
.characters-home{
  display: flex;
  flex-direction: column;
  width: 90%;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.character-container{
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
  margin:1rem;
  width: 80%;
  max-width: 290px;
}
.character-container img{
  max-width: 100%;

}
.character-container .name-container{
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 50px;
  line-height: 50px;
  background: lightgrey;
  opacity: 0.8;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}
.character-container .name-container h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  margin: 0;
}

.main-container .jumbotron {
  width: 100%;
  margin-bottom: 0;
}

.main-container .jumbotron p{
  margin: 0;
}

.main-container .footer{
  position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
   background:#6cf;
}

.display-3 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

.display-4 {
  font-size: 2rem;
}

.lead {
  font-size: 1rem;
}

@media (min-width: 576px){
  .display-3 {
    font-size: 3.5rem;
  }
  .jumbotron {
      padding: 0;
  }
}

@media only screen and (min-width: 740px) {

  .characters-home{
    flex-direction: row;
  
  }

}