html, body{
  height: 100%;
}
body{
  position: relative;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
.main-container{
  position: relative;
  min-height: 100%;
  margin: 0 auto;
}
.header{
  max-width: 1200px;
  margin: 0 auto;
}

.display-3 {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Montserrat';
  color: #01b6cd;
}

.header .blockquote{
  font-size: 0.9rem;
  color: rgb(90, 90, 90);
  max-width: 800px;
  margin: 0 auto;
}

.header .blockquote p{
  text-align: justify;
}
.navbar{
  font-size: 1rem;
}
.navbar .navbar-brand img{
  width: 85px;
}
nav ul li{
  list-style: none;
  text-indent: 0;
  display: inline-block;
  margin-right: 1rem;
}
.characters-home{
  display: flex;
  flex-direction: column;
  width: 90%;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.character-container{
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
  margin:1rem;
  width: 100%;
  max-width: 200px;
}
.character-container img{
  max-width: 100%;
}
.character-container .name-container{
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 50px;
  line-height: 50px;
  background: lightgrey;
  opacity: 0.7;
  font-family: 'Roboto';
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
}
.characters-home .detail-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 5px;
  width: 550px;
  padding: 1rem;
}

.characters-home .detail-container .character-info{
  height: 200px;
}

.characters-home .detail-container .table{
  color: white;
  padding-top: 1rem;
  width: 200px;
}

.characters-home .detail-container .table td{
  border: none;
  padding: 0.5rem;
}

.characters-home .detail-container .table .table-label{
  font-weight: bold;
  color: #01b6cd;
  width: 80px;
  padding-left: 0.25rem;
}

.characters-home .detail-container .character-name-detail{
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.main-container .jumbotron {
  width: 100%;
  margin-bottom: 0;
}

.main-container .jumbotron p{
  margin: 0;
}

.page-item{
  margin-bottom: 1rem;
}

.page-link-number{
  width: 35px;
}



.display-4 {
  font-size: 2rem;
}

.lead {
  font-size: 1rem;
}

@media (min-width: 576px){
  .display-3 {
    font-size: 2.5rem;
  }
  .characters-home{
    flex-direction: row;
  }
  .characters-home .detail-container{
    margin-top: 2rem;
  }
  .jumbotron {
      padding: 0;
  }
}

@media only screen and (min-width: 740px) {
  .display-3 {
    font-size: 3.5rem;
  }
  .characters-home{
    flex-direction: row;
  }

}